<app-header></app-header>

<body>
  <div class= "form-box">
<div>
    <h1 class= "name">Recuperar sua senha</h1>
</div>

<form novalidate [formGroup]="form">

    <div [ngClass]="aplicaCssErro('email')">

    <input id="email" type="email" formControlName="email" placeholder="Email">
    <app-campo-control-erro    
    [mostrarErro]="verificaValidTouched('email')"
    msgErro="Email inválido!">

    </app-campo-control-erro>
    </div>

    <button class="button" type="submit" (click)="onSubmit()">Enviar</button>

  </form>
  <div class= "recover">
      <h5>Esqueceu sua senha? <a class="button-register" href="/login">Login</a><br>
        Não tem uma conta? <a class="button-register" href="/register">Cadastra-se</a>
    </h5>
  </div>
  </div>

  </body>

