<header  class= "cabecalho">
  <img  class= "logo" src="../../../assets/images/logo-certfacil.png" alt="Logo Certfacil">
  
</header>

<body>
  <div class= "form-box">
<div>
    <h1 class= "name">Recuperar sua senha</h1>
</div>

<form (submit)="onSubmit()">

    <div>
     
      <input id="email" type="text" formControlName="email" placeholder="Email">
    </div>
  
    <button class="button" type="submit">Enviar</button>
  
  </form>
  <div class= "recover">
      <h5>Esqueceu sua senha? <a class="button-register" href="/login">Login</a><br>
        Não tem uma conta? <a class="button-register" href="/register">Cadastra-se</a>
    </h5>
  </div>
  </div>

  </body>

