<app-header></app-header>
 <body>
	<div class="container">
    <app-headermenu></app-headermenu>

	  <div class="form-box">
		<div class="form-content">
		  <div>
			<h1 class="name">Editar Perfil</h1>
		  </div>

		  <form novalidate [formGroup]="form">
			<label for="name"></label><br>
       		 <input type="text" formControlName="apelido" placeholder="ID: {{id}} | {{apelido}}">
			<label for="email"></label>
        	<input type="email"value={{email}} disabled>
      <label for="campus"></label><br>
        	<input type="text"formControlName="campus" placeholder="Unidade: {{campus}}">
			<label for="semestre"></label>
        	<input type="text" formControlName="semestre" placeholder="Semestre: {{semestre}}">
			<button class="button" type="submit" (click)='update()' >Atualizar perfil</button>

		  </form>
		</div>
	</div>
	</div>
  </body>
