<app-header></app-header>
 <body>
	<div class="container">
    <app-headermenu></app-headermenu>

	  <div class="form-box">
		<div class="form-content">
		  <div>
			<h1 class="name">Editar Perfil</h1>
		  </div>

		  <form>
			<label for="name"></label><br>
       		 <input type="text" value={{apelido}} disabled>
			<label for="email"></label>
        	<input type="email"value={{email}} disabled>
        	<label for="novaSenha"></label><br>
        	<input type="password"id="especial" placeholder="Nova senha">
			<label for="confirmeSenha"></label>
        	<input type="password" placeholder="Confirme a senha">
			<button class="button" type="submit" >Atualizar perfil</button>

		  </form>
		</div>
	</div>
	</div>
  </body>
