.cabecalho {
  height: 60px;
  background: linear-gradient(90deg, #f05097 0%, #514d9e 100%);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

a {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  height: 50px;
  margin: 0 auto;
  padding: 10px 0;
}
