<app-header></app-header>
<body>
  <app-headermenu></app-headermenu>
  <div class="container">
    <div class="conteudo">
      <ng-container class="conteudo" *ngFor="let event of evento">
        <div class="item">
          <div class="conteudo-img">
            <img src="{{event.img}}" alt="Certfacil" />
          </div>
          <div class="conteudo-textos">
            <h3 class="titulo">{{ event.descricao }}</h3>
            <h4 class="local">
              Data: {{ event.data_inicio }}, Horario: {{ event.inicio }}
            </h4>
            <h5 class="descricao">{{ event.nota }}</h5>
          </div>
          <div class="butons">
            <div>
              <button
                class="btn-sign-up"
                type="submit"
                value="Fazer Chamada"
                (click)="Chamada(event.id)"
              >
                Fazer chamada</button
              ><br />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</body>
