<head>
	<meta charset="UTF-8">
	<title>Lista de Presença</title>
</head>
	<body>
  <div id="container">
    <div id="menu">
	<ul>
		<li>Início</li>
		<li>Criar Eventos</li>
		<li>Lista de Presença</li>
		<li>Meu Perfil</li>
	</ul>
    </div>

<div id="contents1">
	<h3>TECH WEEK 2018</h3>
Cidade:<br>
Local:<br>
Data:<br>
<input type="submit" class="button" value="Fazer Chamada"><br>
</div>

<div id="contents2">
	<h3>TECH WEEK 2019</h3>
Cidade:<br>
Local:<br>
Data:<br>
<input type="submit" class="button" value="Fazer Chamada"><br>
</div>

<div id="contents3">
	<h3>TECH WEEK 2020</h3>
Cidade:<br>
Local:<br>
Data:<br>
<input type="submit" class="button" value="Fazer Chamada"><br>
</div>

</div>
</div>
	</body>
</html>
