<head>
  <meta charset="UTF-8" />
  <title>Criar Eventos</title>
</head>
<body>
  <div id="menu">
    <ul>
      <li>Início</li>
      <li>Criar Eventos</li>
      <li>Lista de Presença</li>
      <li>Meu Perfil</li>
    </ul>
  </div>
  <h2>Vamos criar seu evento</h2>
  <form>
    <input type="text" placeholder="Nome do Evento" required />
    <input type="text" placeholder="Descrição do evento" />
    <input type="date" id="especial" placeholder="Data" />
    <input type="time" id="especial" placeholder="Horário" />
    <input type="text" placeholder="Local" />
    <input type="text" placeholder="Palestrante" required />
    <input type="number" placeholder="Carga horária" />
    <input type="submit" class="button" value="Criar evento" />
  </form>
</body>
