<div class="content">
  <div class="header">
    <h2 class="modal-title">Lista de Presença</h2>
    <button
      type="button"
      class="btn-close"
      data-dismiss="modal"
      (click)="onClose()"
    >
      X
    </button>
  </div>
  <div class="body">
    <div class="presenca-container" *ngIf="buttonactivepresencaone">
      <p>Liberar primeira lista de presença</p>
      <button type="button" class="btn btn-secondary" (click)="Ativeone()">
        Confirmar
      </button>
    </div>

    <div class="presenca-container" *ngIf="buttonactivepresencatwo">
      <p>Liberar segunda lista de presença</p>
      <button type="button" class="btn btn-secondary" (click)="Ativetwo()">
        Confirmar
      </button>
    </div>

    <div class="presenca-container" *ngIf="buttonpresencaone">
      <p>Confirma Presença 1</p>
      <button type="button" class="btn btn-secondary" (click)="Confirmtwo()">
        Confirmar
      </button>
    </div>

    <div class="presenca-container" *ngIf="buttonpresncatwo">
      <p>Confirma Presença 2</p>
      <button type="button" class="btn btn-secondary" (click)="Confirmtwo()">
        Confirmar
      </button>
    </div>
  </div>
</div>
