<header class="cabecalho">
  <a href="/">
    <img
      class="logo"
      src="../../../assets/images/logo-certfacil.png"
      alt="Logo Certfacil"
    />

    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </a>
</header>

<body>
  <div class="form-box">
    <div>
      <h1 class="name">Acesse sua conta</h1>
    </div>
    <form novalidate [formGroup]="form">
      <div [ngClass]="aplicaCssErro('email')">
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Usuário"
        formControlName="email"
        required
      />

      <app-campo-control-erro


      [mostrarErro]="verificaValidTouched('email')"
      msgErro="Email inválido!">
      </app-campo-control-erro>
      </div>

      <div [ngClass]="aplicaCssErro('password')">
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Senha"
        formControlName="password"
        required
        [type]= "hide ? 'password': 'text' "
      />
       <i class="material-icons" matSuffix (click) = "hide = !hide">
           {{  hide ? 'visibility' : 'visibility_off'}}
         </i>

      <app-campo-control-erro
      [mostrarErro]="verificaValidTouched('password')"
      msgErro="Campo obrigatório!">
      </app-campo-control-erro>
      </div>
    </form>




      <button class="button" type="submit" (click)="onSubmit()">Entrar</button>
    <div class="recover">
      <h5>
        Esqueceu sua senha?
        <a class="button-register" href="/recover">Recuperar</a><br />
        Não tem uma conta?
        <a class="button-register" href="/register">Cadastra-se</a>
      </h5>
    </div>
  </div>
</body>
