<header  class= "cabecalho">
  <img  class= "logo" src="../../../assets/images/logo-certfacil.png" alt="Logo Certfacil">
  
</header>

<body >
 

  <div class= "form-box">
<div>
    <h1 class= "name">Acesse sua conta </h1>
</div>

<form (submit)="onSubmit()">

      <input id="user" type="text" formControlName="user" placeholder="Usuário">
      <input id="password" type="password" formControlName="password" placeholder="Senha">
      <button class="button" type="submit">Entrar</button>
  
  </form>
  <div class= "input-group">
      <h5>Esqueceu sua senha? <a class="button-register" href="/recover">Recuperar</a><br>
        Não tem uma conta? <a class="button-register" href="/register">Cadastra-se</a>
    </h5>
  </div>
</div>
</body>