<body>
  <div class="container">
    <div class="content">
      <a href="/">
        <img
          class="logo"
          src="../../../assets/images/logo-certfacil.png"
          alt="Logo Certfacil"
        />
      </a>
      <h2>
        “Investir em <br />
        conhecimento <br />
        rende sempre os <br />
        melhores juros.”
      </h2>
      <img
        class="ftc"
        src="../../../assets/images/uniftc.png"
        alt="CertFacil"
      />
    </div>

    <div class="cadastro">
      <div class="cadastro-content">
        <h1>Cadastre-se</h1>
        <form novalidate [formGroup]="form">
          <div>
            <input
              class="input"
              id="nome"
              type="text"
              formControlName="nome"
              placeholder="Nome completo*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="apelido"
              type="text"
              formControlName="apelido"
              placeholder="Apelido*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="documento"
              type="text"
              formControlName="documento"
              placeholder="CPF*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="email"
              type="email"
              formControlName="email"
              placeholder="Email*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="celular"
              pattern="^\d{4}-\d{3}-\d{4}$"
              type="tel"
              formControlName="celular"
              placeholder="Telefone*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="campus"
              type="text"
              formControlName="campus"
              placeholder="Unidade*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="password"
              type="password"
              formControlName="password"
              placeholder="Senha*"
            />
          </div>

          <div>
            <input
              class="input"
              id="confirm"
              type="password"
              formControlName="confirm"
              placeholder="Confirme a Senha*"
            />
          </div>

          <div class="checkbox">
            <div>
              <input
                type="radio"
                id="tipo_usuario"
                name="tipo_usuario"
                formControlName="tipo_usuario"
                value="participante"
              />
              <label>Participante</label>
            </div>
            <div>
              <input
                type="radio"
                id="tipo_usuario1"
                name="tipo_usuario"
                formControlName="tipo_usuario"
                value="palestrante"
              />
              <label>Palestrante</label>
            </div>
          </div>

          <div class="checkbox-termo">
            <input type="checkbox" id="scales" name="scales" class="checkbox" />
            <label for="scales"
              >Concordo com os
              <a
                href="https://s3-sa-east-1.amazonaws.com/raizen-prod/items-files/item-189-tcg.pdf"
                target="_blank"
                >Termos e Condições</a
              ></label
            >
          </div>

          <button class="button" type="submit" (click)="onSubmit()">
            Cadastrar
          </button>
        </form>
        <div class="recover">
          <h5>
            Já tem uma conta?<a class="button-register" href="/login"
              >Fazer login</a
            ><br />
          </h5>
        </div>
      </div>
    </div>
  </div>
</body>
