<body>
  <div class="container">
    <div class="content">
      <img
        class="logo"
        src="../../../assets/images/logo-certfacil.png"
        alt="Logo Certfacil"
      />
      <h2>
        “Investir em <br />
        conhecimento <br />
        rende sempre os <br />
        melhores juros.”
      </h2>
      <img
        class="ftc"
        src="../../../assets/images/uniftc.png"
        alt="CertFacil"
      />
    </div>

    <div class="cadastro">
      <div class="cadastro-content">
        <h1>Cadastre-se</h1>
        <form novalidate [formGroup]="form">
          <div>
            <input
              class="input"
              id="nome"
              type="text"
              formControlName="nome"
              placeholder="Nome completo*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="apelido"
              type="text"
              formControlName="apelido"
              placeholder="Apelido*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="documento"
              type="text"
              formControlName="documento"
              placeholder="CPF*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="email"
              type="text"
              formControlName="email"
              placeholder="Email*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="celular"
              type="text"
              formControlName="celular"
              placeholder="Telefone*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="campus"
              type="text"
              formControlName="campus"
              placeholder="Unidade*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="password"
              type="password"
              formControlName="password"
              placeholder="Senha*"
              required
            />
          </div>

          <div>
            <input
              class="input"
              id="confirm"
              type="password"
              formControlName="confirm"
              placeholder="Confirme a Senha*"
              required
            />
          </div>

          <div class="checkbox">
            <div>
              <input
                type="radio"
                name="tipo_usuario"
                formControlName="tipo_usuario"
                value="participante"
              />
              <label for="scales">Participantes</label>
            </div>
            <div>
              <input
                type="radio"
                name="tipo_usuario"
                formControlName="tipo_usuario"
                value="palestrante"
              />
              <label for="scales">Palestrante</label>
            </div>
          </div>
        </form>

        <div class="checkbox-termo">
          <input type="checkbox" id="scales" name="scales" class="checkbox" />
          <label for="scales"
            >Concordo com os
            <a
              href="https://s3-sa-east-1.amazonaws.com/raizen-prod/items-files/item-189-tcg.pdf"
              target="_blank"
              >Termos e Condições</a
            ></label
          >
        </div>

        <button class="button" type="submit" (click)="register()">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</body>
