<app-header></app-header>
<body>
  <div class="container">
    <app-headermenu></app-headermenu>
    <div class="form-box">
      <div class="form-content">
        <div>
          <h1 class="name">Edite seu evento</h1>
        </div>
        <form novalidate [formGroup]="form">
          <input
            type="text"
            formControlName="descricao"
            placeholder="Nome: {{descricaoevent}}"
            required
          />
          <input
            type="text"
            formControlName="nota"
            placeholder="Descrição: {{notaevent}}"
          />
          <input
            type="date"
            formControlName="data_inicio"
            id="especial"
            placeholder={{dataevent}}
          />
          <input
            type="time"
            formControlName="inicio"
            id="especial"
            placeholder={{inicioevent}}
          />
          <div [ngClass]="aplicaCssErro('carga_horaria')">
            <input
            formControlName="carga_horaria"
            type="number"
            placeholder="Carga Horaria: {{cargaevent}}"
          />
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('carga_horaria')" msgErro="Caracteres Invalidos!">
          </app-campo-control-erro>
          </div>

          <div [ngClass]="aplicaCssErro('video')">
            <input
            formControlName="video"
            type="text"
            placeholder="URL: {{video}}"
          />
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('carga_horaria')" msgErro="Caracteres Invalidos!">
          </app-campo-control-erro>
          </div>

          <div class="checkbox" [ngClass]="aplicaCssErro('ativo')">
            <div>
              <input
                type="radio"
                id="ativo"
                name="ativo"
                formControlName="ativo"
                value="0"
              />
              <label>Ativar</label>
            </div>
            <div>
              <input
                type="radio"
                id="ativo"
                name="ativo"
                formControlName="ativo"
                value="1"
              />
              <label>Inativo</label>
            </div>




            <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('ativo')"
            msgErro="Defina um status!">
            </app-campo-control-erro>
          </div>
          <button class="button" type="submit" (click)="onSubmit()">
            Editar evento
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
