body {
  height: 100vh;
  background-color: var(--grey);
}

.content .item {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.content .item .conteudo-img {
  display: flex;
  margin-right: 50px;
  width: 256px;
  height: 166px;
  min-height: 166px;
  min-width: 256px;
}

.content .item .conteudo-img img {
  margin: auto 0;
  display: block;
  object-fit: cover;
}
.content .item .conteudo-textos {
  min-width: 435px;
  max-width: 435px;
}

.content .item .conteudo-textos .titulo {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  letter-spacing: 0.002em;
  text-transform: uppercase;
  color: black;
  margin: 0;
}

.content .item .conteudo-textos .local {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.002em;
  text-transform: capitalize;
  color: black;
}

.content .item .conteudo-textos .descricao {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.002em;
  text-transform: capitalize;
  color: #777777;
}

.container .item .butons {
  display: inline;
}

.container .item .butons .btn-sign-up {
  border: none;
  width: 185px;
  height: 40px;
  color: white;
  background: linear-gradient(90deg, #f05198 -5.82%, #544e9e 100.09%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 32px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.container .item .butons .btn-delete {
  border: none;
  width: 185px;
  height: 40px;
  color: var(--pink);
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 2px solid var(--pink);
  margin-left: 32px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 15px;
}
