<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>CertFacil</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="top-bar">
      <a href="/" class="logo">
        <img
          src="../../../assets/images/logo-certfacil.png"
          alt="Logo Certfacil"
        />
      </a>
      <a class="button-login" href="/login">Login</a>
    </div>
    <div class="conteudo">
      <div class="content">
        <h1>
          Organizar eventos <br />
          presenciais ou <br />
          online ficou fácil
        </h1>
        <h5>Certificados online prontos em instantes.</h5>
        <a class="button-register" href="/register">Cadastre-se</a>
      </div>
      <div class="content-img">
        <img src="../../../assets/images/img-bg.png" alt="Certfacil" />
      </div>
    </div>
  </body>
</html>
