<header class="cabecalho">
  <a href="/">
    <img
      class="logo"
      src="../../../assets/images/logo-certfacil.png"
      alt="Logo Certfacil"
    />
  </a>
</header>

<body>
  <div class="form-box">
    <div>
      <h1 class="name">Codigo de Confirmação</h1>
    </div>

    <form [formGroup]="form" >
      <input
        type="text"
        placeholder="Codigo de Confirmação"
        formControlName="token"
        required
      />
      <button class="button" type="submit" (click)="valid()">Enviar</button>
    </form>
    <div class="recover">
      <h5>
        Já tem uma Conta?
        <a class="button-register" href="/login">Login</a><br />
        Não tem uma conta?
        <a class="button-register" href="/register">Cadastra-se</a>
      </h5>
    </div>
  </div>
</body>
