<img src="../../../assets/images/bg-pdf.png" alt="CertFacil" />

<div class="content" id="content" #content>
  <h3>Certificado de Participação</h3>
  <h1>
    Ciclo de oficinas em <br />
    Sistemas de Informação
  </h1>
  <h5>Certificamos que</h5>
  <h5 class="nome-participante">Beatriz Alves Felipe</h5>
  <h5>
    participou do 1° Ciclo de Oficinas em Sistemas de Informação
    <strong>Aprendendo a criar aplicativos Mobiles com React Native</strong>,
    com carga horária de 2h.
  </h5>
  <h5 class="data">Feira de Santana, 14 de novembro de 2020.</h5>
  <div class="assinaturas">
    <div class="item">
      <hr />
      <strong>Naan Cardoso</strong>
      <p>Organização do Ciclo de Oficinas</p>
    </div>
    <div class="item">
      <hr />
      <strong>Fabrício Oliveira</strong>
      <p>Coordenação do curso de Sistemas de Informação</p>
    </div>
  </div>
</div>

