<div class="content" id="content" #content [ngStyle]="{'background-image': 'url(' + url_back + ')'}">
  <br><br><br><br>
  <h3 [ngStyle]="{'color': cor_texto}">Certificado de Participação</h3><br>
  <h1 [ngStyle]="{'color': cor_titulo}">{{titulo}}</h1><br>
  <h4 [ngStyle]="{'color': cor_texto}">Certificamos que</h4>
  <h5 class="nome-participante" [ngStyle]="{'color': cor_nome}">{{ nome }}</h5>
  <h5 [ngStyle]="{'color': cor_texto}">
    {{descricacao_layout}}<br><br>
    <strong>{{ descricao }}</strong
    >, com carga horária de {{ carga_horaria }}h.
  </h5>
  <h5 class="data" [ngStyle]="{'color': cor_texto}">{{cidade_layout}}, {{ data }}.</h5>
</div>
