img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
  width: 90%;
  margin: auto;
}

.content h3 {
  margin: 0;
  padding: 40px 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: white;
}
.content h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  width: max-content;
  text-align: left;
  margin: auto;
  color: white;
}

.content h5 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin: 0;
  padding-top: 10px;
  color: white;
}

.content .data {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin: 0;
  color: white;
  padding-top: 35px;
}

.content .nome-participante {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  padding: 30px 0;
  color: white;
}

.content .assinaturas {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.content .assinaturas .item hr {
  border-top: 1px solid white;
  width: 300px;
}
.content .assinaturas .item {
  color: white;
}
